.category_col {
	padding: 10px;
}
.category_col img {
	width: 100%;
}
.category_edit_btn {
	
}
.ostro_picWall .ant-upload-list-item-info:before {
  left: 0px;
}
.goods_desc_box {
	width: 100%;
	    text-align: left;
}
.alert {
	text-align: left;
}
.sku_input {
	width: 80px;
}